body.background {
    background-image: url("../content/bg/bg_tile.png");
    background-repeat: repeat-x repeat-y;
    background-attachment: fixed;
    z-index: -32767;
    animation: BGAnimation 5s linear infinite;
}

@keyframes BGAnimation {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: 128px;
    }
}

div.title {
    
}